<h1>You&rsquo;re on the BiteWorthy waitlist</h1>

<p>
  We&rsquo;re seeding the launch with 30 independent Durango restaurants and a
  real dietary filter. You&rsquo;ll get an &ldquo;early access&rdquo; email 48 hours before
  public release &mdash; that&rsquo;s the only message we&rsquo;ll send between now and then.
</p>

<p>If you didn&rsquo;t sign up, just ignore this. We don&rsquo;t send a second one.</p>

<p>
  &mdash; BiteWorthy<br>
  <a href="https://bite-worthy.com/">https://bite-worthy.com/</a>
</p>
